p {
    margin-top: 0;
    margin-bottom: .85em;
}

.wy-nav-content {
    max-width: 75% !important;
}

.rst-content {
    max-width: 75% !important;
}

*:last-child {
    margin-bottom: 0 !important;
}

.logo {
    width: 50% !important;
}


